* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    background: white;
    height: 100%;
}

.toolbar {
    background: url("images/header_background.jpg") repeat-x scroll 0 0 #000000;
    border-bottom: 1px solid #000000;
    color: #FFFFFF;
    min-height: 20px;
    padding: 10px;
    position: relative;
}

h1 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    margin: 1px 0 0 10px;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 -1px 1px #000000;
}

h2 {
    background-color: #EAEAEA;
    font-size: 16px;
    padding: 5px;
}

.input, .select {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    font-size: 15px;
    padding: 3px;
    margin-top: 5px;
}

.select {
    width: 200px
}

label {
    display: block;
}

input.button {
    background: url("images/header_background.jpg") repeat-x scroll left bottom #21759B;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 15px;
    margin-top: -3px;
    padding: 3px 10px;
    text-decoration: none;
    width: auto;
}

.content {
    padding: 10px;
}

p {
    margin-bottom: 16px;
    padding: 0 10px;
}

.tip {
    color: #B5B5B5;
    display: block;
    font-size: 13px;
}
#list_trip  ul{
	padding: 5px;
	border: 1px solid #EAEAEA;

}
#list_trip ul  li, #site_details_screen ul li {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px solid #D6D6D6;
}

.question {
    margin-bottom: 10px;
    border-bottom: 1px solid #333333;
    padding: 0 10px 10px 10px;
}

/***Loading***/
.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: url(../images/overlay.png);
}

.white_content {
    display: none;
    position: absolute;
    font-weight: bold;
    padding: 5px;
    z-index: 1002;
    top: 45%;
	left: 38%;
	color: white;
	overflow: auto;
}

.loading {
    display: none;
    position: absolute;
    font-weight: bold;
    padding: 5px;
    top: 45%;
    left: 38%;
    color: white;
    overflow: auto;
}

.back {
	background-color: #000000;
    color: #FFFFFF;
    padding: 3px;
    margin-top: -15px;
    border-width: 0 8px 0 14px;
    text-decoration: none;
    font-size: 90%;
    float: left;
    margin-top: -15px;
    -webkit-border-image: url(images/back_button.png) 0 8 0 14;
    -moz-border-image: url(images/back_button.png) 0 8 0 14;
}

.right {
    font-size: 90%;
    text-align: right;
	padding-bottom: 5px;
}

#site_narrative_screen textarea {
    height: 120px;
}
